---
import { render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { asset } from '../lib/asset';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { image, alt, layout } = project.data;
const { Content } = await render(project);
const src = asset(image);
---

{layout === 'image-right' && (
	<div class="work-section">
		<div class="text-left"><Content /></div>
		<div class="image-right"><img src={src} alt={alt} /></div>
	</div>
)}

{layout === 'image-left' && (
	<div class="work-section">
		<div class="image-left"><img src={src} alt={alt} /></div>
		<div class="text-right"><Content /></div>
	</div>
)}

{layout === 'center' && (
	<div class="work-section-extra">
		<div class="image-center"><img src={src} alt={alt} /></div>
		<div class="work-caption-center"><Content /></div>
	</div>
)}

{layout === 'full' && (
	<>
		<div class="work-section">
			<div class="image main"><img src={src} alt={alt} /></div>
		</div>
		<div class="work-section">
			<div class="text-center"><Content /></div>
		</div>
	</>
)}
